#info{
	background: rgba(3,95,192,0.14);
	color: black;
	text-align: center;
	padding: 35px;
	
}


#info .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


.info-pet{
	margin: 20px;
}

.info-pet img{
	width: 370px;
	height: 300px;
	border-radius: 10%;
	border: 5px solid #088DC4;
	transition: transform 0.2s;
}
#info a:hover img{
	filter: blur(2px);
	
}
#info h9{
	font-size: 25px;
}